.Header {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Box-test {

    background-color: white;
    margin: auto;

}

.Container-test {
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: white;
}

.Form-test {
    /*border: 2px dashed blueviolet;*/
    width: 100%;
    margin: auto;
    padding: 10px;
}

.Form-contols {
    margin: 10 10 10 10;

}